# Virtual Environment
venv/
.venv/
env/

# Datasets and extracted features
fan6db/
features/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db
